<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Clean Blog Post</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="templatemo_wrapper">

	<div id="templatemo_menu">
                
         <ul>
            <li><a href="/index.html" class="current">Blog</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>   	
    
    </div> <!-- end of templatemo_menu -->

    <div id="templatemo_left_column">
    
        <div id="templatemo_header">
        
            <div id="site_title">
                <h1><a href="#">Clean <strong>Blog</strong><span>Write Your Story</span></a></h1>
            </div><!-- end of site_title -->
            
        </div> <!-- end of header -->  
        
        <div id="templatemo_sidebar">
    	
            <div id="templatemo_rss">
            
                <a href="#">SUBSCRIBE NOW <br /><span>to our rss feed</span></a>
                
            </div>
            
        </div> <!-- end of templatemo_sidebar --> 
    
    </div> <!-- end of templatemo_left_column -->
    
    <div id="templatemo_right_column">
        
        <div id="templatemo_main">
        
            <div class="post_section">

                <h2> <%= text.title %> </h2>
                
                <a href="#"><img src="/images/templatemo_image_01.jpg" alt="image" /></a>
                
                <p> <%= text.text %> </p>
                
		  </div>
        
            
            
		</div> <!-- end of main -->
    
  <div class="cleaner"></div>
  </div> 
    <!-- end of templatemo_main -->
  <div class="cleaner_h20"></div>
  
  	<div id="templatemo_footer">
    
		Copyright © 2048 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com -->| 
        Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
        
    </div>
  
    <div class="cleaner"></div>
</div> <!-- end of warpper -->
<!-- templatemo 251 clean blog -->
<!-- 
Clean Blog Template 
http://www.templatemo.com/preview/templatemo_251_clean_blog 
-->
</body>
</html>